@CHARSET "UTF-8";
#site_nav_top {
	float: left;
    color: #666;
    font-size: 12px;
}
#login_area {
	color: #5b5b5b;
    font-size: 12px;
    overflow: hidden;
    text-align: right;
    height: 22px;
    line-height: 22px;
}
#header {
}
div#header p.h_r_3 {
	margin: 0 1px;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #d8dfea;
}
div#header p.h_r_2 {
	height: 1px;
    font-size: 0;
    line-height: 0;
    border-left: 2px solid #d8dfea;
    border-right: 1px solid #d8dfea;
    margin: 0 1px;
}
div#header p.h_r_1 {
	height: 1px;
    font-size: 0;
    line-height: 0;
    border-left: 2px solid #d8dfea;
    border-right: 1px solid #d8dfea;
}
#header_block {
	border-left: 1px solid #d8dfea;
    border-right: 1px solid #d8dfea;
    height: 60px;
}
#logo {
	position: absolute;
    left: 18px;
    top: 15px;
}
div#logo h1 {
	margin-bottom: 0px;
}
#nav_menu {
	    background-color: #2b6695;
}
div#nav_menu a {
	color: #eee;
    text-decoration: none;
    font-size: 15px;
    padding-left: 24px;
}
div#nav_menu a:hover {
	color: #eee;
    text-decoration: underline;
}
#main {
	padding: 0;
    margin: 10px 320px 0 180px;
}
.post_nav_block_wrapper {
	border: 1px solid #fff;
    border-bottom: 1px solid #c8d3de;
    font-size: 14px;
    line-height: 1.5em;
    background-color: #fff;
}
.post_nav_block {
	float: left;
    margin-bottom: -1px;
}
.post_nav_block li {
	float:left;
    margin-left: 1px;
    width:50px;/*宽度太窄，字体会竖排*/
    padding: 0;
    list-style: none;
    display: list-item;
}
.post_nav_block a {
	background-color: #e8edf0;
    border: 1px solid #c8d3de;
    color: #333;
    float: left;
    letter-spacing: 1px;
    padding: 4px 6px;
    text-decoration: none;
}
.post_nav_block a.current_nav {
	background-color: #e8edf0;
    border: 1px solid #c8d3de;
    color: #333;
    float: left;
    letter-spacing: 1px;
    padding: 4px 6px;
    text-decoration: none;
}
.post_nav_block a.current_nav:VISITED {
	background-color: #fff;
    border-color: #c8d3de #c8d3de #fff;
    border-style:solid;
    border-width:1px;
    color: #333;
    float: left;
    letter-spacing: 1px;
    padding: 4px 6px;
    text-decoration: none;
}
.clear {
	margin-top:1px;
    clear: both;
}
.rss_link {
	position: absolute;
    right: 322px;
    top: 154px;
    margin-bottom: 1px;
}
.editor_pick {
    color: #105cb6;
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -6px;
}
.headline {
	line-height: 24px;
    margin-left: 0;
    margin-right: 15px;
    margin-top: 10px;
    padding: 0 0 0 5px;
    border: 0px dotted #ccc;
}
#headline_block ul li {
    overflow: hidden;
    font-size: 13px;
}
#headline_block ul li a {
    text-decoration: none;
}
#headline_block ul li a:hover {
    text-decoration: underline;
}

#post_list {
    margin-top: 0;
    padding-left: 5px;
    padding-right: 0;
    padding-top: 10px;
    min-height: 300px;
}
.digg {
    float: left;
    width: 60px;
}
.diggit {
    float: left;
    width: 46px;
    height: 52px;
    background: url(//common.cnblogs.com/images/upup.gif) no-repeat;
    text-align: center;
    cursor: pointer;
    margin-top: 2px;
    text-indent: 0;
}
a.titlelnk:link, a.titlelnk:active {
    color: #105cb6;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
}
a.titlelnk:hover {
	color:#ff0000;
}
#post_list .post_item_summary {
    line-height: 1.8em;
    margin-bottom: 5px;
    color: #333;
    overflow: hidden;
    padding-right: 5px;
    font-size: 10px;
    padding-top: 5px;
}
.pfs {
    height: 48px;
    width: 48px;
    padding: 1px;
    margin-top: 3px;
    margin-right: 5px;
    border: 1px solid #ccc;
    float: left;
}
.post_item_foot {
    color: #555;
    padding-top: 5px;
    margin-left: 60px;
}

#side_nav {
    position: absolute;
    left: 10px;
    top: 130px;
    width: 160px;
    margin-top: 0;
    padding-top: 0;
    background-color: #eef;
}
#cate_title_title {
    background-color: #eff5fc;
    background: url(../images/site_cate_title_bg.png) no-repeat bottom left;
    height: 30px;
    line-height: 30px;
    border-right: 1px solid #83abc6;
}
.cate_title {
    border-bottom: 1px solid #83abc6;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    padding-left: 32px;
    padding-top: 0;
    line-height: 30px;
}
#cate_item {
	margin:0px;
	padding-left:5px;
    border-left: 4px solid #146eb4;
    border-right: 1px solid #83abc6;
}
#cate_item li {
    color: #00003a;
    font-size: 15px;
    height: 27px;
    line-height: 27px;
    border-bottom: 1px dotted #83abc6;
    padding-left: 1px;
    border-right-width: 0;
    background: url(../images/icon_blue_arrow.gif) no-repeat 136px center;
    overflow: hidden;
}
#cate_item li a:link, #cate_item li a:visited, #cate_item li a:active {
    color: #404040;
    text-decoration: none;
    display: block;
}
#side_right {
    position: absolute;
    right: 7px;
    width: 300px;
    top: 174px;
    background-color: #eef;
}
.side_search {
	margin: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
#google_search {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 14px;
    height: 30px;
}
.search_input {
    width: 170px;
    margin-right: 8px;
    vertical-align: middle;
    height: 20px;
    margin-left: 10px;
    border: 1px solid #7e9db9;
    padding: 2px;
}
.search_btn {
    vertical-align: middle;
    color: #666;
    width: 70px;
    font-size: 13px;
    padding-top: 1px\9;
    height: 26px;
}
#search_block {
    margin-top: 10px;
}
.cate_bottom {
    background: url(../images/site_cate_bottom_bg.gif) no-repeat left top;
    height: 5px;
    line-height: 0;
    font-size: 0;
    border-right: solid 1px #83abc6;
}
.l_s {
    height: 20px;
}
.w_l {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-top: 0;
    padding: 0;
    padding-right: 0;
    color: #404040;
}
h4 {
    display: block;
    font-weight: bold;
    margin-top:10px;
    margin-bottom:10px;
}
.w_l ul {
	padding-left: 10px;
	margin-top:10px;
}
.w_l ul li {
    padding-left: 15px;
    line-height: 20px;
    padding-left: 15px;
    overflow: hidden;
    margin-left: 5px;
}
.w_l ul li a {
	text-decoration: none;
	color: #000000;
	font-size:14px;
}
.w_l ul li a:hover {
	text-decoration: underline;
}
.pager {
    font-size: 12px;
    margin: 25px 0;
    text-align: center;
    color: #2e6ab1;
    line-height: 200%;
    overflow: hidden;
}
#footer {
    margin-left: 180px;
    margin-right: 320px;
}
.footer_block {
    background-color: #fff;
    padding: 0;
    margin: 18px 7px 10px 10px;
}
.r_b_3 {
    margin: 0 1px;
    height: 0;
    font-size: 0;
    line-height: 0;
    border-bottom: 1px solid #e6e6e6;
}
.r_b_2 {
    height: 1px;
    font-size: 0;
    line-height: 0;
    border-left: 2px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    margin: 0 1px;
}
.r_b_1 {
    height: 1px;
    font-size: 0;
    line-height: 0;
    border-left: 2px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
#friend_link {
    line-height: 22px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    padding: 10px;
    overflow: hidden;
    color: #404040;
    word-wrap: break-word;
}
#friend_link a:link, #friend_link a:active, #friend_link a:visited {
    color: #404040;
    text-decoration: none;
}
#footer_bottom {
    text-align: center;
    margin-top: 15px;
    padding-bottom: 20px;
}
#footer_bottom div {
    margin-bottom: 10px;
}