@CHARSET "UTF-8";
body {
    padding-right: 32px;
    margin-top: 20px;
    padding-left: 32px;
    font-size: 12px;
    background: #eee;
    padding-bottom: 32px;
    color: #000;
    padding-top: 32px;
    font-family: verdana,Arial,Helvetica,sans-serif;
}
#Main {
    border-right: #bbb 1px solid;
    border-top: #bbb 1px solid;
    background-color: #fff;
    border-left: #bbb 1px solid;
    border-bottom: #bbb 1px solid;
    text-align: left;
    padding: 30px 20px 20px 50px;
    width: 350px;
}
form {
    display: block;
    margin-top: 0em;
}
div#Heading {
    padding-right: 0;
    padding-left: 0;
    font-weight: bold;
    font-size: 16px;
    padding-bottom: 15px;
    margin: 0;
    color: #904;
    padding-top: 0;
}
.label-line {
    display: block;
    font-size: 12px;
    margin: 0;
}
.input-text {
    padding: 4px 2px;
    width: 200px;
    vertical-align: middle;
}
.tip {
    color: red;
}
.block {
    margin-bottom: 10px;
}
#remember_me {
    vertical-align: middle;
    margin: 0 5px 0 0;
}
label {
    cursor: default;
}
#signin {
    cursor: pointer;
}
#signin {
    cursor: pointer;
}
.button {
    font-weight: bold;
    color: #904;
    font-size: 16px;
    width: 100px;
    -webkit-appearance: button;
    -moz-user-select: none;
    height: 28px;
}
.nav {
    line-height: 1.8;
}
a:visited {
    color: #002c99;
    font-size: 12px;
}
a:link {
    color: #002c99;
    font-size: 12px;
}